.nav-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.hotel-mars8 {
  margin: 0;
}
.hotel-mars7 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home3,
.rooms-suites2 {
  position: absolute;
  top: 7px;
  left: 238px;
}
.rooms-suites2 {
  left: 297px;
  display: inline-block;
  width: 87px;
  cursor: pointer;
}
.facilities4 {
  left: 410px;
  cursor: pointer;
}
.contacts2,
.facilities4,
.offers2 {
  position: absolute;
  top: 7px;
}
.offers2 {
  left: 564px;
  cursor: pointer;
}
.contacts2 {
  left: 694px;
  color: var(--purple-1);
}
.events2,
.resturant2 {
  position: absolute;
  top: 7px;
  left: 483px;
  cursor: pointer;
}
.events2 {
  left: 633px;
}
.nav-items2 {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 743px;
  height: 28px;
}
.contact-us-page-child,
.nav-bar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 61px;
}
.contact-us-page-child {
  top: 63px;
  height: 371px;
  object-fit: cover;
}
.well-love-to {
  position: absolute;
  top: 475px;
  left: 176px;
  font-size: var(--font-size-lg);
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--purple-1);
  box-sizing: border-box;
  width: 446px;
  height: 25px;
}
.your-name {
  position: absolute;
  top: 6px;
  left: 14px;
}
.rectangle-parent16 {
  position: absolute;
  top: 536px;
  left: 172px;
  width: 446px;
  height: 25px;
}
.your-email {
  position: absolute;
  top: 6px;
  left: 15px;
}
.group-child18,
.rectangle-parent17 {
  position: absolute;
  top: 578px;
  left: 172px;
  width: 446px;
  height: 25px;
}
.group-child18 {
  top: 0;
  left: 0;
  border: 1px solid var(--purple-1);
  box-sizing: border-box;
  height: 145px;
}
.group-child19,
.rectangle-parent18 {
  position: absolute;
  top: 620px;
  left: 172px;
  width: 446px;
  height: 145px;
}
.group-child19 {
  top: 0;
  left: 0;
  border: 1px solid var(--purple-1);
  box-sizing: border-box;
  height: 66.9px;
}
.rate-us- {
  position: absolute;
  top: 4.2px;
  left: 14px;
  display: inline-block;
  width: 50px;
  height: 6.5px;
}
.star-icon {
  position: absolute;
  top: 15px;
  left: 280px;
  width: 45px;
  height: 37.9px;
}
.group-child20,
.group-child21,
.group-child22,
.group-child23 {
  position: absolute;
  top: 14px;
  left: 235px;
  width: 45px;
  height: 37.9px;
}
.group-child21,
.group-child22,
.group-child23 {
  left: 190px;
}
.group-child22,
.group-child23 {
  left: 145px;
}
.group-child23 {
  left: 100px;
}
.rectangle-parent19 {
  position: absolute;
  top: 801px;
  left: 172px;
  width: 446px;
  height: 66.9px;
  color: var(--color-darkslategray);
}
.contact-us-page-item {
  position: absolute;
  top: 63px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 790px;
  height: 371px;
}
.contact-feedback {
  position: absolute;
  top: 237px;
  left: 205px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.group-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple-1);
  width: 446px;
  height: 25px;
}
.send-message {
  position: absolute;
  top: 6px;
  left: 179px;
}
.rectangle-parent20 {
  position: absolute;
  top: 904px;
  left: 172px;
  width: 446px;
  height: 25px;
  color: var(--color-white);
}
.ant-designmail-filled-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 28px;
  overflow: hidden;
}
.hotelmarsgmailcom {
  position: absolute;
  top: 7px;
  left: 38px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.ant-designmail-filled-parent {
  position: absolute;
  top: 988px;
  left: 259px;
  width: 161px;
  height: 28px;
}
.b {
  position: absolute;
  top: 8px;
  left: 36px;
}
.bxbxs-phone-icon,
.parent {
  position: absolute;
  height: 30px;
}
.bxbxs-phone-icon {
  top: 0;
  left: 0;
  width: 30px;
  overflow: hidden;
}
.parent {
  top: 982px;
  left: 22px;
  width: 133px;
}
.road-12-peace {
  position: absolute;
  top: 9px;
  left: 34px;
}
.entypolocation-pin-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.road-12-peace-avenueadoekit-parent {
  position: absolute;
  top: 980px;
  left: 530px;
  width: 212px;
  height: 32px;
}
.footer-page-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 790px;
  height: 230px;
}
.will-give-you2 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container2 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road2,
.phone-number2 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number2 {
  top: 89px;
}
.email-hotelmarsgmailcom2 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items2 {
  width: 232px;
  height: 133px;
}
.about-us2,
.contact-us2,
.footer-page-left-items2 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us2 {
  top: 30px;
}
.facilities5,
.rooms-rates2 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities5 {
  top: 90px;
}
.footer-page-center-items2 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter2 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-page-right-items2 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items2,
.footer-page2 {
  position: absolute;
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page2 {
  top: 1044px;
  left: 0;
  width: 790px;
  height: 230px;
  text-align: left;
  color: var(--color-white);
}
.contact-us-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1274px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--gray-2);
  font-family: var(--font-roboto);
}
