.nav-bar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.hotel-mars10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home4 {
  position: absolute;
  top: 7px;
  left: 249px;
}
.facilities6,
.offers3,
.rooms-suites3 {
  position: absolute;
  top: 7px;
  cursor: pointer;
}
.rooms-suites3 {
  left: 308px;
  display: inline-block;
  width: 87px;
}
.facilities6,
.offers3 {
  left: 421px;
}
.offers3 {
  left: 575px;
}
.contacts3 {
  left: 705px;
  cursor: pointer;
}
.contacts3,
.events4,
.resturant3 {
  position: absolute;
  top: 7px;
}
.resturant3 {
  left: 494px;
  cursor: pointer;
}
.events4 {
  left: 644px;
  color: var(--purple-1);
}
.nav-items3 {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 754px;
  height: 28px;
}
.host-your-events,
.nav-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 61px;
  color: var(--gray-2);
}
.host-your-events {
  top: 1167px;
  left: 364px;
  display: none;
  width: 110px;
  height: 25px;
}
.events-child {
  position: absolute;
  top: 1591.5px;
  left: 402.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 216px;
  display: none;
}
.footer-page-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 790px;
  height: 230px;
}
.will-give-you3 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container3 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road3,
.phone-number3 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number3 {
  top: 89px;
}
.email-hotelmarsgmailcom3 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items3 {
  width: 232px;
  height: 133px;
}
.about-us3,
.contact-us3,
.footer-page-left-items3 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us3 {
  top: 30px;
}
.facilities7,
.rooms-rates3 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities7 {
  top: 90px;
}
.footer-page-center-items3 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter3 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-page-right-items3 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items3,
.footer-page3 {
  position: absolute;
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page3 {
  top: 1798px;
  left: 0;
  width: 790px;
  height: 230px;
  text-align: left;
}
.dj-night-child,
.dj-night-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 465px;
}
.dj-night-child {
  object-fit: cover;
}
.dj-night-item {
  background-color: var(--color-gray-200);
}
.dj-night,
.dj-night1 {
  position: absolute;
  top: 196px;
  left: 311px;
}
.dj-night {
  top: 1304px;
  left: 0;
  width: 790px;
  height: 465px;
  text-align: left;
  font-size: 40px;
  color: var(--purple-1);
}
.book-a-suite {
  position: absolute;
  top: 80px;
  left: 437px;
  display: inline-block;
  width: 300px;
  height: 106px;
}
.banquet-hall-child,
.banquet-hall-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 409px;
  height: 273px;
}
.banquet-hall-child {
  background-color: var(--color-gray-200);
}
.banquet-hall-item {
  object-fit: cover;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple-1);
  width: 88.8px;
  height: 21px;
}
.book-more {
  position: absolute;
  top: 4px;
  left: 14.3px;
  display: inline-block;
  width: 60.2px;
}
.banquet-hall,
.rectangle-parent21 {
  position: absolute;
  top: 246px;
  left: 639px;
  width: 88.8px;
  height: 21px;
  text-align: center;
  color: var(--color-white);
}
.banquet-hall {
  top: 1003px;
  left: 31px;
  width: 737px;
  height: 273px;
  text-align: left;
  color: var(--color-black);
}
.home-background-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 374px;
  object-fit: cover;
}
.home-background-image-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 790px;
  height: 374px;
}
.home-background-image1 {
  position: absolute;
  top: 61px;
  left: 0;
  width: 790px;
  height: 374px;
}
.group-child26,
.wedding-events-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 286px;
}
.wedding-events-child {
  object-fit: cover;
}
.group-child26 {
  background-color: var(--color-gray-200);
}
.a-wedding-is-the-ceremony-in-w,
.weddings-events {
  position: absolute;
  top: 137px;
  left: 112px;
  display: inline-block;
  width: 558px;
  height: 48.5px;
}
.weddings-events {
  top: 91px;
  left: 327px;
  font-size: var(--font-size-lg);
  font-weight: 900;
  font-family: var(--font-roboto);
  width: 156px;
  height: 22px;
}
.rectangle-parent22,
.wedding-events {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 286px;
}
.wedding-events {
  top: 702px;
  font-family: var(--font-inter);
}
.rectangle-parent23 {
  position: absolute;
  top: 169px;
  left: 6px;
  width: 88.8px;
  height: 21px;
}
.bedddd33-1-icon1 {
  position: absolute;
  top: 0;
  left: 428.5px;
  width: 329.5px;
  height: 190px;
  object-fit: cover;
}
.conference-meeting-hall {
  color: var(--purple-1);
}
.conference-meeting-hall-container {
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 379px);
  font-size: var(--font-size-lg);
  font-weight: 900;
  display: inline-block;
  width: 211.2px;
  color: var(--color-darkslategray);
}
.conference-hall,
.group-child28 {
  position: absolute;
  top: 464px;
  left: 7px;
  width: 758px;
  height: 190px;
}
.group-child28 {
  top: 0;
  left: 0;
  background-color: var(--purple-1);
  width: 87px;
  height: 21px;
}
.book-now {
  position: absolute;
  top: 1px;
  left: 7px;
}
.rectangle-parent24 {
  position: absolute;
  top: 78px;
  left: 51px;
  width: 87px;
  height: 21px;
}
.events5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
}
.text-and-reserve-button1 {
  position: absolute;
  top: 192px;
  left: 300px;
  width: 189px;
  height: 99px;
  font-size: var(--font-size-mini);
}
.mars-hotels-offer {
  margin: 0;
}
.mars-hotels-offer-container {
  position: absolute;
  top: 515px;
  left: 7px;
  line-height: 116.67%;
  display: inline-block;
  color: var(--color-black);
  text-align: left;
  width: 430px;
}
.banquet-hall1 {
  position: absolute;
  top: 1032px;
  left: 529px;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 173px;
  height: 37px;
}
.events3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2028px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
