
.nav-bar-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.hotel-mars19 {
  position: absolute;
  top: 16px;
  left: 11px;
  font-weight: 900;
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home7,
.rooms-suites6 {
  position: absolute;
  top: 0;
  left: 0;
}
.rooms-suites6 {
  left: 59px;
  display: inline-block;
  width: 87px;
  cursor: pointer;
}
.facilities13 {
  position: absolute;
  top: 0;
  left: 172px;
  color: var(--purple-1);
}
.contacts6,
.events8,
.offers8,
.resturant6 {
  position: absolute;
  top: 0;
  left: 326px;
  cursor: pointer;
}
.contacts6,
.events8,
.resturant6 {
  left: 456px;
}
.events8,
.resturant6 {
  left: 245px;
}
.events8 {
  left: 395px;
}
.nav-items6 {
  position: absolute;
  top: 23px;
  left: 261px;
  width: 505px;
  height: 14px;
  font-size: var(--font-size-xs);
  color: var(--gray-2);
}
.footer-page-child4,
.nav-bar6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
}
.nav-bar6 {
  height: 61px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--purple-1);
}
.footer-page-child4 {
  background-color: var(--color-darkslategray);
  height: 230px;
}
.will-give-you6 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container6 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road6,
.phone-number6 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number6 {
  top: 89px;
}
.email-hotelmarsgmailcom6 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 232px;
  height: 133px;
}
.contact-us6 {
  position: absolute;
  top: 30px;
  left: 0;
}
.facilities14,
.rooms-rates6 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities14 {
  top: 90px;
}
.footer-page-center-items6 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter6 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-items6,
.footer-page-right-items6 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items6 {
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.facilities-child,
.footer-page6 {
  position: absolute;
  left: 0;
  width: 790px;
}
.footer-page6 {
  top: 1584px;
  height: 230px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.facilities-child {
  top: 61px;
  height: 378px;
  object-fit: cover;
}
.gym-1-icon,
.swimming-pool-design-and-const-icon {
  position: absolute;
  top: 527px;
  left: 39px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.gym-1-icon {
  top: 529px;
  left: 431px;
}
.barr-1-icon,
.conference-room-1,
.parking-garage-1,
.spa-1-icon {
  position: absolute;
  top: 815px;
  left: 39px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.conference-room-1,
.parking-garage-1,
.spa-1-icon {
  left: 431px;
}
.conference-room-1,
.parking-garage-1 {
  top: 1124px;
  left: 39px;
}
.parking-garage-1 {
  left: 431px;
}
.we-also-offer {
  font-size: var(--font-size-sm);
  color: var(--purple-1);
}
.library-services,
.we-also-offer {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.laundry-services {
  margin: 0;
}
.we-also-offer-container {
  position: absolute;
  top: 1419px;
  left: 42px;
  line-height: 20px;
  display: inline-block;
  width: 162px;
  height: 104px;
  font-size: var(--font-size-xs);
}
.facilities-item {
  position: absolute;
  top: 61px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 790px;
  height: 378px;
}
.facilities15 {
  position: absolute;
  top: 201px;
  left: 202px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 365px;
  height: 54px;
}
.delicious-meals-air-container,
.shuffle-private-transfers-container {
  position: absolute;
  top: 1428px;
  left: 319px;
  font-size: var(--font-size-xs);
  line-height: 20px;
  display: inline-block;
  width: 161px;
  height: 86px;
}
.shuffle-private-transfers-container {
  top: 1439px;
  left: 595px;
  width: 156px;
  height: 64px;
}
.gym,
.resturants-bar,
.swimming-pool {
  position: absolute;
  top: 745px;
  left: 150px;
  line-height: 20px;
}
.gym,
.resturants-bar {
  top: 747px;
  left: 577px;
}
.resturants-bar {
  top: 1033px;
  left: 146px;
}
.conference-room,
.packing-garage,
.spa-jaccuzi {
  position: absolute;
  top: 1343px;
  left: 142px;
  line-height: 20px;
}
.packing-garage,
.spa-jaccuzi {
  left: 541px;
}
.spa-jaccuzi {
  top: 1033px;
  left: 547px;
}
.facilities12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--gray-2);
  font-family: var(--font-roboto);
  
}
