.nav-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.blank-line {
  margin: 0;
}
.hotel-mars {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home1,
.rooms-suites {
  position: absolute;
  top: 7px;
}
.home1 {
  left: 249px;
  color: var(--purple-1);
}
.rooms-suites {
  left: 308px;
  display: inline-block;
  width: 87px;
  cursor: pointer;
}
.contacts,
.events,
.facilities,
.offers,
.resturant {
  position: absolute;
  top: 7px;
  left: 421px;
  cursor: pointer;
}
.contacts,
.events,
.offers,
.resturant {
  left: 575px;
}
.contacts,
.events,
.resturant {
  left: 705px;
}
.events,
.resturant {
  left: 494px;
}
.events {
  left: 644px;
}
.nav-items {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 754px;
  height: 28px;
}
.hotel-lunar,
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 61px;
}
.hotel-lunar {
  top: 133px;
  left: 349px;
  color: var(--purple-1);
  display: none;
  width: 98px;
  height: 20px;
}
.span {
  color: var(--color-darkslategray);
}
.hotel-mars2 {
  color: var(--purple-1);
}
.about-hotel-mars-container {
  position: absolute;
  top: calc(50% - 395px);
  left: calc(50% - 353px);
  font-size: var(--font-size-lg);
  font-weight: 900;
}
.ladies-and-gentlemen {
  font-weight: 500;
}
.ladies-and-gentlemen-container,
.ladies-and-gentlemen1 {
  position: absolute;
  top: 571px;
  left: 39px;
  text-align: left;
  display: inline-block;
  width: 369px;
}
.ladies-and-gentlemen1 {
  top: 654px;
  font-weight: 500;
}
.bedddd33-1-icon {
  position: absolute;
  top: 502px;
  left: 428px;
  width: 323px;
  height: 276px;
  object-fit: cover;
}
.home-child {
  position: absolute;
  top: 886px;
  left: 140px;
  background-color: var(--color-white);
  width: 101px;
  height: 25px;
}
.home-item {
  position: absolute;
  top: 888px;
  left: 308px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.footer-page-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 790px;
  height: 230px;
}
.will-give-you {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road,
.phone-number {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number {
  top: 89px;
}
.email-hotelmarsgmailcom {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items {
  width: 232px;
  height: 133px;
}
.about-us,
.contact-us,
.footer-page-left-items {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us {
  top: 30px;
}
.facilities1,
.rooms-rates {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities1 {
  top: 90px;
}
.footer-page-center-items {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-page-right-items {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items,
.footer-page {
  position: absolute;
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page {
  top: 1584px;
  left: 0;
  width: 790px;
  height: 230px;
  text-align: left;
  color: var(--color-white);
}
.home-background-image-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 374px;
  object-fit: cover;
}
.home-background-image-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 790px;
  height: 374px;
}
.group-child,
.group-item,
.home-background-image {
  position: absolute;
  top: 61px;
  left: 0;
  width: 790px;
  height: 374px;
}
.group-child,
.group-item {
  top: 0;
  height: 360px;
}
.group-child {
  object-fit: cover;
}
.group-item {
  background-color: var(--color-gray-200);
}
.ladies-and-gentlemen-container1 {
  position: absolute;
  top: 184px;
  left: 128px;
  display: inline-block;
  width: 558px;
  height: 61px;
}
.events-weddings {
  position: absolute;
  top: 114px;
  left: 316px;
  font-size: var(--font-size-lg);
  font-weight: 900;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 360px;
}
.rectangle-parent {
  top: 845px;
  color: var(--color-white);
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple-1);
  width: 87px;
  height: 21px;
}
.reserve-now {
  position: absolute;
  top: 4px;
  left: 8px;
}
.rectangle-parent1 {
  position: absolute;
  top: 64px;
  left: 163px;
  width: 87px;
  height: 21px;
}
.a-memorable-experience {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
}
.text-and-reserve-button {
  position: absolute;
  top: 206px;
  left: 188px;
  width: 415px;
  height: 85px;
  color: var(--color-white);
}
.read-more {
  position: absolute;
  top: 4px;
  left: 14px;
}
.rectangle-parent2 {
  position: absolute;
  top: 757px;
  left: 39px;
  width: 87px;
  height: 21px;
  color: var(--color-white);
}
.our-galleries1 {
  position: absolute;
  top: calc(50% - 127.5px);
  left: calc(50% - 53px);
  font-weight: 900;
}
.bedddd33-2-icon,
.standard-sindle-room-1,
.superior-room-1 {
  position: absolute;
  top: 0;
  left: 221px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.standard-sindle-room-1,
.superior-room-1 {
  top: 2px;
  left: 0;
}
.superior-room-1 {
  top: 4px;
  left: 442px;
}
.gallery-images {
  position: absolute;
  top: 51px;
  left: 35px;
  width: 642px;
  height: 204px;
}
.previous-and-next-arrows {
  position: absolute;
  height: 7.22%;
  width: 100%;
  top: 56.47%;
  right: 0;
  bottom: 36.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-galleries {
  position: absolute;
  top: calc(50% + 352px);
  left: calc(50% - 356px);
  width: 712px;
  height: 255px;
  font-size: var(--font-size-lg);
}
.standard-single-room {
  position: absolute;
  top: 674px;
  left: 386px;
  display: inline-block;
  width: 194px;
  height: 26px;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1814px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--gray-2);
  font-family: var(--font-roboto);
}
