.nav-bar-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.hotel-mars5 {
  margin: 0;
}
.hotel-mars4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--purple-1);
  width: 127px;
  height: 28px;
}
.home2 {
  left: 239px;
}
.facilities2,
.home2,
.rooms-suites1 {
  position: absolute;
  top: 6px;
  cursor: pointer;
}
.rooms-suites1 {
  left: 298px;
  display: inline-block;
  width: 87px;
}
.facilities2 {
  left: 411px;
}
.contacts1,
.events1,
.offers1,
.resturant1 {
  position: absolute;
  top: 6px;
  left: 565px;
  cursor: pointer;
}
.contacts1,
.events1,
.resturant1 {
  left: 695px;
}
.events1,
.resturant1 {
  left: 484px;
}
.events1 {
  left: 634px;
}
.nav-items1 {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 744px;
  height: 28px;
}
.footer-page-item,
.nav-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 61px;
}
.footer-page-item {
  background-color: var(--color-darkslategray);
  height: 230px;
}
.will-give-you1 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container1 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road1,
.phone-number1 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number1 {
  top: 89px;
}
.email-hotelmarsgmailcom1 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items1 {
  width: 232px;
  height: 133px;
}
.about-us1,
.contact-us1,
.footer-page-left-items1 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us1 {
  top: 30px;
}
.facilities3,
.rooms-rates1 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities3 {
  top: 90px;
}
.footer-page-center-items1 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter1 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-items1,
.footer-page-right-items1 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items1 {
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page1 {
  top: 0;
  width: 790px;
  height: 230px;
}
.footer,
.footer-page1,
.group-child3 {
  position: absolute;
  left: 0;
}
.footer {
  top: 1044px;
  width: 790px;
  height: 230px;
  text-align: left;
  color: var(--color-white);
}
.group-child3 {
  top: 0;
  border-radius: var(--br-31xl);
  background-color: var(--purple-1);
  width: 402px;
  height: 73px;
}
.bookin-now {
  position: absolute;
  top: 20.9px;
  left: 93px;
  display: inline-block;
  width: 216px;
  height: 44.5px;
}
.rectangle-parent3 {
  position: absolute;
  top: 900px;
  left: 198px;
  width: 402px;
  height: 73px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 700px;
  height: 40px;
}
.use-code- {
  position: absolute;
  top: 9px;
  left: 7px;
}
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 632px;
  left: 0;
  width: 700px;
  height: 40px;
}
.rectangle-parent5 {
  top: 568px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 504px;
  left: 0;
  width: 700px;
  height: 40px;
}
.rectangle-parent7,
.rectangle-parent8 {
  top: 440px;
}
.rectangle-parent8 {
  top: 377px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: 314px;
  left: 0;
  width: 700px;
  height: 40px;
}
.rectangle-parent10,
.rectangle-parent11 {
  top: 251px;
}
.rectangle-parent11 {
  top: 188px;
}
.group-child14,
.rectangle-parent12,
.rectangle-parent13 {
  position: absolute;
  top: 125px;
  left: 0;
  width: 700px;
  height: 40px;
}
.group-child14,
.rectangle-parent13 {
  top: 62px;
}
.group-child14 {
  top: 0;
  background-color: var(--color-gainsboro);
  width: 328px;
  height: 39px;
}
.calendar-icon {
  position: absolute;
  top: 4px;
  left: 275px;
  width: 58px;
  height: 31px;
  object-fit: cover;
}
.check-out,
.sun-11 {
  position: absolute;
  top: 8px;
  left: 167px;
}
.check-out {
  left: 6px;
}
.calendar-icon1,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 372px;
  width: 333px;
  height: 39px;
}
.calendar-icon1 {
  top: 4px;
  left: 274px;
  width: 58px;
  height: 31px;
  object-fit: cover;
}
.check-in,
.sat-10 {
  position: absolute;
  top: 8px;
  left: 164px;
}
.check-in {
  left: 7px;
}
.group-parent,
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 39px;
}
.group-parent {
  top: 168px;
  left: 42px;
  width: 705px;
  height: 672px;
  font-size: var(--font-size-xl);
}
.online-booking1 {
  position: absolute;
  top: 80px;
  left: 246px;
  font-size: var(--font-size-17xl);
  color: var(--purple-1);
}
.online-booking-child {
  position: absolute;
  top: 61px;
  left: 0;
  width: 790px;
  height: 2px;
  object-fit: contain;
}
.online-booking {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1274px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--gray-2);
  font-family: var(--font-roboto);
}
