.footer-page-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 790px;
  height: 230px;
}
.hotel-mars22 {
  margin: 0;
}
.will-give-you7 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container7 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road7,
.phone-number7 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number7 {
  top: 89px;
}
.email-hotelmarsgmailcom7 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items7 {
  width: 232px;
  height: 133px;
}
.about-us7,
.contact-us7,
.footer-page-left-items7 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us7 {
  top: 30px;
}
.facilities16,
.rooms-rates7 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities16 {
  top: 90px;
}
.footer-page-center-items7 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter7 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-page-right-items7 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items7,
.footer-page7 {
  position: absolute;
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page7 {
  top: 1814px;
  left: 1px;
  width: 790px;
  height: 230px;
}
.bedddd-34-icon1,
.group-child42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
}
.bedddd-34-icon1 {
  height: 386px;
  object-fit: cover;
}
.group-child42 {
  background-color: var(--color-gray-200);
  height: 384px;
}
.our-rooms-and {
  position: absolute;
  top: 160px;
  left: 203px;
}
.rectangle-parent37,
.rooms-and-rate-header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 384px;
}
.rooms-and-rate-header1 {
  top: 51px;
  height: 386px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.nav-bar-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 790px;
  height: 61px;
}
.hotel-mars23 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home8,
.rooms-suites7 {
  position: absolute;
  top: 8px;
  left: 251px;
}
.rooms-suites7 {
  left: 310px;
  display: inline-block;
  color: var(--purple-1);
  width: 87px;
}
.facilities17 {
  position: absolute;
  top: 8px;
  left: 423px;
  cursor: pointer;
}
.contacts7,
.events9,
.offers9,
.resturant7 {
  position: absolute;
  top: 8px;
  left: 577px;
  cursor: pointer;
}
.contacts7,
.events9,
.resturant7 {
  left: 707px;
}
.events9,
.resturant7 {
  left: 496px;
}
.events9 {
  left: 646px;
}
.nav-bar7,
.nav-items7 {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 756px;
  height: 28px;
}
.nav-bar7 {
  top: 0;
  left: 1px;
  width: 790px;
  height: 61px;
  text-align: center;
  color: var(--gray-2);
}
.sea-view-penthouse-suite-1-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.penthouse-suite-with {
  top: 0;
  left: 52px;
  font-size: var(--font-size-sm);
}
.bathroom,
.penthouse-suite-with,
.per-night1 {
  position: absolute;
  line-height: 20px;
}
.per-night1 {
  top: 131px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.bathroom {
  top: 0;
  left: 12px;
}
.ellipse-div {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 6px;
  height: 6px;
}
.bathroom-parent,
.beds-parent,
.group-child44 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 74px;
  height: 20px;
}
.beds-parent,
.group-child44 {
  top: 67px;
  width: 48px;
}
.group-child44 {
  top: 6px;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 6px;
  height: 6px;
}
.group-child45,
.people-parent {
  position: absolute;
  top: 94px;
  left: 0;
  width: 58px;
  height: 20px;
}
.group-child45 {
  top: 0;
  background-color: var(--purple-1);
  width: 87px;
  height: 25px;
}
.book-now1 {
  position: absolute;
  top: 6px;
  left: 12px;
}
.rectangle-parent38 {
  position: absolute;
  top: 126px;
  left: 233px;
  width: 87px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.penthouse-suite-with-balcony-v-parent,
.room-6 {
  position: absolute;
  top: 220px;
  left: 0;
  width: 320px;
  height: 151px;
}
.room-6 {
  top: 813px;
  left: 392px;
  height: 371px;
}
.family-suite-with {
  position: absolute;
  top: 0;
  left: 65px;
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.room-5 {
  position: absolute;
  top: 813px;
  left: 0;
  width: 320px;
  height: 371px;
}
.deluxe-suite-with {
  position: absolute;
  top: 0;
  left: 63px;
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.deluxe-suite-with-balcony-view-parent,
.room-4 {
  position: absolute;
  top: 215px;
  left: 0;
  width: 320px;
  height: 151px;
}
.room-4 {
  top: 412px;
  left: 392px;
  height: 366px;
}
.classic-double-room {
  position: absolute;
  top: 0;
  left: 93px;
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.rrom-3 {
  position: absolute;
  top: 405px;
  left: 0;
  width: 320px;
  height: 371px;
}
.classic-standard-room {
  position: absolute;
  top: 0;
  left: 88px;
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.classic-standard-room-parent,
.room-1,
.room-2,
.rooms {
  position: absolute;
  top: 217px;
  left: 0;
  width: 320px;
  height: 151px;
}
.room-1,
.room-2,
.rooms {
  top: 0;
  left: 392px;
  height: 368px;
}
.room-1,
.rooms {
  left: 0;
}
.rooms {
  top: 513px;
  left: 40px;
  width: 712px;
  height: 1184px;
  color: var(--gray-2);
}
.footer-page-group {
  position: absolute;
  top: 0;
  left: -1px;
  width: 791px;
  height: 2044px;
}
.rooms-and-rate {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 2044px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
