.footer-page-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 790px;
  height: 230px;
}
.hotel-mars16 {
  margin: 0;
}
.will-give-you5 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.hotel-mars-will-container5 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 208px;
  height: 46px;
  font-size: var(--font-size-5xl);
}
.address-road5,
.phone-number5 {
  position: absolute;
  top: 59px;
  left: 0;
}
.phone-number5 {
  top: 89px;
}
.email-hotelmarsgmailcom5 {
  position: absolute;
  top: 119px;
  left: 0;
}
.footer-page-left-items5 {
  width: 232px;
  height: 133px;
}
.about-us5,
.contact-us5,
.footer-page-left-items5 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-us5 {
  top: 30px;
}
.facilities10,
.rooms-rates5 {
  position: absolute;
  top: 60px;
  left: 0;
}
.facilities10 {
  top: 90px;
}
.footer-page-center-items5 {
  position: absolute;
  top: 15px;
  left: 391px;
  width: 93px;
  height: 104px;
}
.twitter5 {
  position: absolute;
  top: 59px;
  left: 0;
  display: inline-block;
  width: 51px;
}
.footer-items5,
.footer-page-right-items5 {
  position: absolute;
  top: 15px;
  left: 643px;
  width: 69px;
  height: 103px;
}
.footer-items5 {
  top: 49px;
  left: 39px;
  width: 712px;
  height: 133px;
}
.footer-page5,
.nav-bar-child3 {
  position: absolute;
  top: 1731px;
  left: 1px;
  width: 790px;
  height: 230px;
}
.nav-bar-child3 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 61px;
}
.hotel-mars17 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--purple-1);
  display: inline-block;
  width: 127px;
  height: 28px;
}
.home6 {
  position: absolute;
  top: 8px;
  left: 251px;
}
.facilities11,
.offers7,
.rooms-suites5 {
  position: absolute;
  top: 8px;
  cursor: pointer;
}
.rooms-suites5 {
  left: 310px;
  display: inline-block;
  width: 87px;
}
.facilities11,
.offers7 {
  left: 423px;
}
.offers7 {
  left: 577px;
}
.contacts5 {
  left: 707px;
  cursor: pointer;
}
.contacts5,
.events7,
.resturant5 {
  position: absolute;
  top: 8px;
}
.resturant5 {
  left: 496px;
  color: var(--purple-1);
}
.events7 {
  left: 646px;
  cursor: pointer;
}
.nav-bar5,
.nav-items5 {
  position: absolute;
  top: 16px;
  left: 11px;
  width: 756px;
  height: 28px;
}
.nav-bar5 {
  top: 0;
  left: 1px;
  width: 790px;
  height: 61px;
  text-align: center;
  color: var(--gray-2);
}
.sea-view-penthouse-suite-1-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.per-cup,
.tea-coffee1 {
  position: absolute;
  top: 0;
  left: 119px;
  line-height: 20px;
}
.per-cup {
  top: 40px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple-1);
  width: 87px;
  height: 25px;
}
.order-now {
  position: absolute;
  top: 6px;
  left: 13px;
}
.rectangle-parent28 {
  position: absolute;
  top: 38px;
  left: 233px;
  width: 87px;
  height: 25px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.tea-coffee,
.tea-coffee-parent {
  position: absolute;
  top: 220px;
  left: 0;
  width: 320px;
  height: 63px;
}
.tea-coffee {
  top: 911px;
  left: 400px;
  height: 283px;
}
.pestries1 {
  position: absolute;
  top: 0;
  left: 111px;
  line-height: 20px;
}
.per-tin,
.pestries {
  position: absolute;
  left: 0;
}
.pestries {
  top: 911px;
  width: 320px;
  height: 283px;
}
.per-tin {
  top: 42px;
  font-size: var(--font-size-lg);
  line-height: 20px;
  color: var(--purple-1);
}
.rectangle-parent30 {
  position: absolute;
  top: 36px;
  left: 225px;
  width: 87px;
  height: 25px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.cold-drinks,
.cold-drinks-parent {
  position: absolute;
  top: 210px;
  left: 8px;
  width: 312px;
  height: 62px;
}
.cold-drinks {
  top: 610px;
  left: 400px;
  width: 320px;
  height: 272px;
}
.fruits-juices1,
.per-glass {
  position: absolute;
  top: 0;
  left: 71px;
  line-height: 20px;
}
.per-glass {
  top: 41px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.rectangle-parent31 {
  position: absolute;
  top: 36px;
  left: 233px;
  width: 87px;
  height: 25px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.fruits-juices,
.fruits-juices-parent {
  position: absolute;
  top: 210px;
  left: 0;
  width: 320px;
  height: 61px;
}
.fruits-juices {
  top: 610px;
  left: 8px;
  height: 271px;
}
.burgers1,
.combo {
  position: absolute;
  top: 0;
  left: 144px;
  line-height: 20px;
}
.combo {
  top: 44px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.order-now4 {
  position: absolute;
  top: 4px;
  left: 16px;
}
.rectangle-parent32 {
  position: absolute;
  top: 40px;
  left: 232px;
  width: 87px;
  height: 25px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.burgers,
.burgers-parent {
  position: absolute;
  top: 215px;
  left: 0;
  width: 319px;
  height: 65px;
}
.burgers {
  top: 304px;
  left: 400px;
  width: 320px;
  height: 280px;
}
.italian-foods,
.per-dise {
  position: absolute;
  top: 0;
  left: 93px;
  line-height: 20px;
}
.per-dise {
  top: 39px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.rectangle-parent33 {
  position: absolute;
  top: 35px;
  left: 233px;
  width: 87px;
  height: 25px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.italian-food,
.italian-foods-parent {
  position: absolute;
  top: 220px;
  left: 0;
  width: 320px;
  height: 60px;
}
.italian-food {
  top: 304px;
  left: 8px;
  height: 280px;
}
.gujarati-thali,
.gujarati-thali-parent {
  position: absolute;
  top: 217px;
  left: 0;
  width: 320px;
  height: 61px;
}
.gujarati-thali {
  top: 0;
  left: 400px;
  height: 278px;
}
.per-night,
.punjabi-foods {
  position: absolute;
  top: 0;
  left: 88px;
  line-height: 20px;
}
.per-night {
  top: 38px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--purple-1);
}
.food,
.punjabi-food,
.punjabi-foods-parent {
  position: absolute;
  top: 217px;
  left: 0;
  width: 320px;
  height: 60px;
}
.food,
.punjabi-food {
  top: 0;
  left: 8px;
  height: 277px;
}
.food {
  top: 513px;
  left: 32px;
  width: 720px;
  height: 1194px;
  font-size: var(--font-size-xl);
  color: var(--gray-2);
}
.bedddd-34-icon,
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 386px;
}
.bedddd-34-icon {
  object-fit: cover;
}
.group-child41 {
  background-color: var(--color-gray-200);
}
.restaurant1 {
  position: absolute;
  top: 157px;
  left: 243px;
  display: inline-block;
  width: 306px;
  height: 53px;
}
.rectangle-parent36,
.rooms-and-rate-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 386px;
}
.rooms-and-rate-header {
  top: 61px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.footer-page-parent {
  position: absolute;
  top: 0;
  left: -1px;
  width: 791px;
  height: 1961px;
}
.restaurant {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1961px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
